*{
  margin:0;
  padding:0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.divButtons{
  display:flex;
  flex-direction: row;
  
}

.navBarBase{
  background-color: #541554;
  min-width:100%;
  min-height:80px;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: center;
  
  

}

.NavBarList1{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: space-around;
  margin-left:46px;
  list-style: none;



}
.NavBarList2{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: space-around;
  margin-left:106px;
  list-style: none;



}
li{
  padding:19px;
  color:white;
  font-family: 'Poppins';
  font-size:16px;
  display:flex;
  flex-direction: row;
}


.logoPosition{
  width: 151px;
  height: 36px;
  left: 136px;
  top: 20px;
}

.downArrowNav{
  display:flex;
  align-items: center;
  
}

nav{
  display:flex;
  flex-direction: row;
}

.getTaskHubBtn{
  width:165px;
  height:39px;
  border-radius:5px;
  border-style: none;
  margin-left:22px;
  color:#541554;
  font-weight:bold;
  cursor:pointer;
}

.getTaskHubBtn:hover{
   background-color:#AC2BAC;
   color:white;
   transition-timing-function: ease-in-out;
   transition-duration:0.3s;
}

.HeroSection{
  display:flex;
  margin-top:2px;
  background-color:#541554;
  min-width:1438px;
  min-height:95vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  

}

.HeroHeader{
  display:flex;
  justify-content: center;
  flex-direction:column;
  margin-left:135px;
  align-content: center;
  margin-bottom:50px;
  margin-right:70px;
}
h1{
  font-family: "Poppins";
  font-size: 50px;
  color:white;
}

.h1Desc{
  color:#ECB22E;
}

.HeroP{
  color:white;
  align-items: start;
  margin-top: 13px;
  font-family: "Poppins";
  font-size:15px;
}

.HeroPicture{
  display:flex;
  align-items: center;
  margin-bottom:68px;
  margin-left:70px;
}

.HeroPic{
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
}

.HeroBtns{
  display:flex;
  flex-direction:row;
  margin-top:26px;
  

}

.HeroBtn1{
  width:239px;
  height:56px;
  border-radius:5px;
  border-style: none;
  margin-left:22px;
  color:#541554;
  font-weight:bold;
  font-size:15px;
  font-family: 'Poppins';
  cursor:pointer;
  ;
}