*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}

html, body{
  overflow-x: hidden;
}
body{
  width:100%;
  position: relative;
}
img{
  max-width: 100%;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.divButtons{
  display:flex;
  flex-direction: row;

}

.navBarBase{
  background-color: #541554;
  min-width:100%;
  min-height:80px;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: center;
  position: fixed;
  top: 0;




}

.NavBarList1{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: space-around;
  margin-left:46px;
  list-style: none;



}
.NavBarList2{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content: space-around;
  margin-left:106px;
  list-style: none;


}
li{
  list-style: none;
  display:flex;

}
nav li{
  padding:19px;
  color:white;
  font-family: 'Poppins';
  font-size:16px;
  display:flex;
  flex-direction: row;
}
.burgerbutton{
  display:none;
}

.sidebar{
  position:fixed;
  top:0;
  right:0;
  height:100vh;
  width:200px;
  z-index: 999;
  background-color:#ac2baca5;
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  display:none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  backdrop-filter: blur(10px);


}





.sidebar li{
  width: 100%;
}


.logoPosition{
  width: 151px;
  height: 36px;
}

@media (max-width: 475px) {
  .NavBarList1, .NavBarList2{
    display:none
  }
  .navBarBase{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav{
    display: flex;
    justify-content: end;
  }
  .burgerbutton{
    display: flex;
    margin-left:160px;
  }


}




.downArrowNav{
  display:flex;
  align-items: center;

}

nav{
  display:flex;
  flex-direction: row;
}

.getTaskHubBtn{
  width:165px;
  height:39px;
  border-radius:5px;
  border-style: none;
  margin-left:22px;
  color:#541554;
  font-weight:bold;
  cursor:pointer;
  font-family: 'Poppins';
}

.getTaskHubBtn:hover{
   background-color:#AC2BAC;
   color:white;
   transition-timing-function: ease-in-out;
   transition-duration:0.3s;
}

.HeroSection{
  display:flex;
  margin-top:2px;
  background-color:#541554;
  min-width:1438px;
  min-height: 1000px;
  max-height:95vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;


}

.HeroHeader{
  display:flex;
  justify-content: center;
  flex-direction:column;
  margin-left:135px;
  align-content: center;
  margin-bottom:50px;
  margin-right:70px;
}
h1{
  font-family: "Poppins";
  font-size: 50px;
  color:white;
}

.h1Desc{
  color:#ECB22E;
}

.HeroP{
  color:white;
  align-items: start;
  margin-top: 13px;
  font-family: "Poppins";
  font-size:15px;
}

.HeroPicture{
  display:flex;
  align-items: center;
  margin-bottom:68px;
  margin-left:70px;
}

.HeroPic{
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
}

.HeroBtns{
  display:flex;
  flex-direction:row;
  margin-top:26px;
  justify-content: flex-end;



}

.HeroBtn1{
  width:239px;
  height:56px;
  border-radius:5px;
  border-style: none;
  color:#541554;
  font-weight:bold;
  font-size:15px;
  font-family: 'Poppins';
  cursor:pointer;

}
.HeroBtn1:hover{
  background-color:#AC2BAC;
  color:white;
  transition-timing-function: ease-in-out;
  transition-duration:0.3s;
}

.GoogleBtn{
  width:239px;
  height:56px;
  border-radius:5px;
  border-style: none;
  margin-left:22px;
  color:white;
  background-color: #4285F4;
  font-weight:bold;
  font-size:15px;
  font-family: 'Poppins';
  cursor:pointer;
  display:flex;
  align-items: center;
  justify-content: center;
}

.GoogleBtn:hover{
  background-color:#FFFF;
  color:#4285F4;
  transition-timing-function: ease-in-out;
  transition-duration:0.3s;
}

.GoogolImg{
  margin-right:5px;
  background-color: white;
  border-radius:5px;
}

.CompanySection{
  min-width: 100%;
  min-height:288px;
  display:flex;
  flex-direction: column;
}

h2{
  font-family: 'Poppins';
  font-size: 24px;
}

.CompanyH2{
  display:flex;
  justify-content: center;
  margin-top:92px;
  font-style: normal;
}

.CompanyLogos{
  margin-top:37px;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom:68px;
}

.CompanyImgs{
  margin-right:37px;
  display:flex;
}

.FeatureSection{
  min-width: 100%;
  min-height:550px;
  background-color:#F7F7F6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.FeatureH2{
  font-size: 20px;
  font-family: 'Poppins';
  color:#ECB22E;
  font-style: normal;
}

.FeatureH1{
  font-family: 'Poppins';
  font-size: 44px;
  color:black;
  font-weight: bold;
}

.FeatureDesc{
  color:#646464;
  font-family: 'Poppins';
  font-size: 18px;
}

.FeatureBtn{
  background-color:#773977;
  color: white;
  border-style:none;
  width:165px;
  height: 39px;
  border-radius: 5px;
  margin-top: 26px;
  cursor:pointer;
  font-family: 'Poppins';
  font-size: 15px;

}

.FeatureBtn:hover{
  opacity: 80%;
  transition-timing-function: ease-in-out;
  transition-duration:0.3s;
}
.VirtualMeetingBox{
  background-color: white;
  width:230px;
  height: 219px;
  border: 1px solid #C3C3C3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 68px;


}
.MarketingBox{
  margin-bottom: 14px;;
  background-color: white;
  width:230px;
  height: 219px;
  border: 1px solid #C3C3C3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;

}

.ManagementBox{
  background-color: white;
  width:230px;
  height: 219px;
  border: 1px solid #C3C3C3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 45px;

}

.HelpDeskBox{
  background-color: white;
  width:230px;
  height: 219px;
  border: 1px solid #C3C3C3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 16px;

}

.FeatureH3{
  font-family: 'Poppins';
  font-size:15px;

}

.FeatureBoxLayout{
  margin-top: 20px;
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BizTools{
  display:flex;
  flex-direction:row;
  min-width:1440px;
  min-height:657px;
  background-color:white;
  align-items: center;
  justify-content: center;
}

.BizToolLayout{
  display:flex;
}

.statistics{
  min-width:1440px;
  min-height: 260px;
  background-color: #F7F7F6;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.statisticLayout{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 130px;
}

.TestimonialSect{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 1440px;
  min-height: 840px;
}

.TestimonialConts{
  width:573px;
  height:429px;
  background-color: #F7F7F6;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.pic1{

  position:relative;
  width: 176px;
  height: 176px;
  display:flex;
  top:-78px;


  background: url(./images/testPic.png);
}

.pic2{
  position: relative;

  width: 176px;
  height: 176px;
  display:flex;
  top:-78px;


  background: url(./images/testPic2.png);
}

.TestimonialDesc{
  position:relative;
  top:-60px;
}

.FAQsection{
  min-width: 1440px;
  min-height:610px;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.FAQHeaders{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.FAQLink{
  text-decoration: none;
}
.FAQLink:hover{
  text-decoration: underline;
  cursor: pointer;
}

.FAQbtn{
  background-color: #f7f7f6;
  height: 76px;
  width:672px;
  margin-bottom:16px;
  display:flex;
  flex-direction: row;
  align-items: center;
  border-style: none;

}

.ClickableFAQ{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 93px;
}

.FAQCollapsible{
  border-style:none;
  background-color: #F7F7F6;
  margin-left: 26px;
}

.DiscoverLayout{
  min-width: 1440px;
  min-height: 545px;
  background-color:#773977;
  border-radius: 0px 0px 88px 88px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.TryForFree{
  width:375px;
  height: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  font-family:'Poppins';
  margin-right: 38px;
  border-style: none;
  border-radius:5px;
  font-size: 32px;
  font-weight: bold;
}

.TryForFree:hover{
  cursor:pointer;
  opacity: 50%;
  transition-timing-function: ease-in-out;
  transition-duration:0.3s;
}

.TalkToSales{
  width:375px;
  height: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #773977;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color:white;
  font-size:32px;
  font-family:'Poppins';
  color:white;

}

.TalkToSales:hover{
  transition-timing-function: ease-in-out;
  transition-duration:0.3s;
  opacity:80%;
  background-color: #F7F7F6;
  color:#773977;
  cursor:pointer;
}

.FooterLayout{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 1440px;
  min-height: 500px;
}

.FooterContent{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footerLinks{
  margin-top:16px;
  margin-right: 13px;
  padding:0
}